.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.prettierrc
.prettierignore
.eslintignore
.editorconfig
.github/**
example/**
test/**
webpack.config.js
**/jest.config.js
**/.npmrc
**/.npmignore
**/.gitlab-ci.yml
**/.travis.yml
**/.git
**/.DS_Store
**/Thumbs.db
node_modules/**
